<aside class="kitchen_page">
	<header>
		<h3>Matriz do Açaí</h3>

		<div>
			<address>~0,5km</address>

			<div class="categories">
				<dfn>#açaí</dfn>
				<dfn>#sobremesas</dfn>
			</div>

			<span class="rating">4.8</span>
		</div>

		<ul>
			<li><button type="button">Menu</button></li>
			<li>Entrega: R$6,00</li>
			<li><time>40 - 50min</time></li>
			<li><button type="button">+info</button></li>
		</ul>
	</header>

	<dl class="kitchen_product_list">
		<dt><h4>Açaí</h4></dt>
		{% include kitchen_product_list_item.html %}
		{% include kitchen_product_list_item.html %}
		{% include kitchen_product_list_item.html %}
	</dl>

	<dl class="kitchen_product_list">
		<dt><h4>Sobremesas</h4></dt>
		{% include kitchen_product_list_item.html %}
		{% include kitchen_product_list_item.html %}
		{% include kitchen_product_list_item.html %}
	</dl>
</aside>